#loginform {
  text-align: center;
  width: 30%;
}
#loginform input {
  margin-bottom: 1em;
}
#loginform button {
  margin-top: 0.5em;
}
#loginform span {
  font-size: 1.2em;
}
@media (max-width: 743px) {
  #loginform {
    width: 80%;
  }
  #loginform span {
    font-size: 1.05em;
  }
}
