.pagination-tr:hover,
.pagination-tr:focus {
  background-color: rgba(0, 41, 8, 0.4);
}
.pagination-tr:active {
  background-color: rgba(0, 41, 8, 0.5);
}

td h3,
td h4,
td h5 {
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
}
tr img {
  height: 10em;
  width: 10em;
}

@media (max-width: 1199px) {
  tr img {
    height: 6em;
    width: 6em;
  }
}
