.pagination-tr:hover {
  background-color: rgba(0, 41, 8, 0.4);
}
.pagination-tr th {
  text-align: center;
}
td h3,
td h4,
td h5 {
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
}
td img {
  height: 10em;
  width: 10em;
}

@media (max-width: 768px) {
  td img {
    height: 6em;
    width: 6em;
  }
}
