#project h1 {
  text-align: center;
  font-size: 3.8em;
  margin-top: 0em;
  margin-bottom: 0.5em;
}
#project h2 {
  color: rgb(13, 172, 230);
  font-size: 2.2em;
  -webkit-line-clamp: 3;
}
#project .project-version {
  color: rgb(212, 0, 255);
}
#project .equals {
  color: rgb(0, 255, 21);
}
#project .less-than,
#project .major {
  color: rgb(236, 0, 71);
}
#project #latest-version,
#project .patch {
  color: gold;
}
#project .no-updates {
  color: rgb(0, 194, 103);
}
#project .minor {
  color: orangered;
}
#project h3 {
  font-size: 1.5em;
}
#project h3 strong {
  font-size: 1.3em;
}

#project .overlay {
  height: 75%;
  width: 0;
  border-radius: 0.75em;
  z-index: 1;
  top: 17.5%;
  left: 9%;
}
#project .overlay-content {
  top: 0%;
  left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: 100%;
}

.cg-container h2:nth-child(2) {
  padding-top: 1.8em;
}
.cg-container h2:last-child {
  padding-top: 0.6em;
}

@media (max-width: 743px) {
  #project .overlay .closeBtn {
    font-size: 48px;
    top: 12.5px;
    right: 14.5px;
  }

  #project .overlay-content {
    left: 13.75%;
    width: 72.5%;
  }
}

@media (max-width: 734px) {
  #project h1 {
    font-size: 2.85em;
  }
}

@media (max-width: 524px) {
  #project h1 {
    font-size: 2.05em;
  }
}
